<%= form_for(@task_status) do |f| %>
  <% if @task_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_status.errors.count, "error") %> prohibited this task_status from being saved:</h2>

      <ul>
      <% @task_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
      <%= f.label :task %><br />
      <%= f.select :task_id, Task.all_for_select %>
    </div>

    <div class="field">
      <%= f.label :state %><br />
      <%= f.select :state_id, State.all_for_select %>
    </div>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
