<p id="notice"><%= notice %></p>

<p>
  <b>Task state:</b>
  <%= @task_status.state_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @task_status.comment %>
</p>


<%= link_to 'Edit', edit_status_path(@task_status) %> |
<%= link_to 'Back', statuses_path %>
