<h1>Listing task_statuses</h1>

<table>
  <tr>
    <th>Task state</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_statuses.each do |task_status| %>
  <tr>
    <td><%= task_status.task_state ? task_status.task_state.name : "N/A" %></td>
    <td><%= task_status.comment %></td>
    <td><%= link_to 'Show', task_status %></td>
    <td><%= link_to 'Edit', edit_task_status_path(task_status) %></td>
    <td><%= link_to 'Destroy', task_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task status', new_task_status_path %>
