<h1>Listing task_notes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Owner</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_notes.each do |task_note| %>
  <tr>
    <td><%= task_note.user_id %></td>
    <td><%= task_note.owner %></td>
    <td><%= task_note.title %></td>
    <td><%= task_note.content %></td>
    <td><%= link_to 'Show', task_note %></td>
    <td><%= link_to 'Edit', edit_task_note_path(task_note) %></td>
    <td><%= link_to 'Destroy', task_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task note', new_task_note_path %>
